
					<div class="legend-text">Klik na ocjenu/zvjezdicu za vise informacija</div>
				
                    <div class="table-container  grades-table " aria-label="GradesTable">
                        <div class="flex-table header first">
                            <div class="flex-row first">Ocjene proizlaze iz:</div>
                                    
                                <div class="flex-row head">Ocjene po mjesecima</div>
                                            </div>	
                        <div class="flex-table header">
                            <div class="flex-row first"></div>
                                                                         <div class="flex-row">IX</div>
                                                    <div class="flex-row">X</div>
                                                    <div class="flex-row">XI</div>
                                                    <div class="flex-row">XII</div>
                                                    <div class="flex-row">I</div>
                                                    <div class="flex-row">II</div>
                                                    <div class="flex-row">III</div>
                                                    <div class="flex-row">IV</div>
                                                    <div class="flex-row">V</div>
                                                    <div class="flex-row">VI</div>
                                                                </div>
                            
                            <div class="flex-table row">
                                <div class="flex-row first">usvojenost znanja i vještina</div>	
                                                                                
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                        <span class="popup mobile-only" data-title="usvojenost znanja i vještina"> 						
                                                                                    <span class=" positive " data-action-id="389796982150">3</span>								</span>	
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                        <span class="popup mobile-only" data-title="usvojenost znanja i vještina"> 						
                                                                                    <span class=" positive " data-action-id="404826125550">3</span>								</span>	
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                                 
                            </div>	
                            
                            <div class="flex-table row">
                                <div class="flex-row first">matematička komunikacija</div>	
                                                                                
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                        <span class="popup mobile-only" data-title="matematička komunikacija"> 						
                                                                                    <span class=" positive " data-action-id="382858039750">3</span>								</span>	
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                        <span class="popup mobile-only" data-title="matematička komunikacija"> 						
                                                                                    <span class=" positive " data-action-id="396459589560">3</span>								</span>	
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                                 
                            </div>	
                            
                            <div class="flex-table row">
                                <div class="flex-row first">rješavanje problema</div>	
                                                                                
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                        <span class="popup mobile-only" data-title="rješavanje problema"> 						
                                                                                    <span class=" positive " data-action-id="389799404130">2</span>								</span>	
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                        
                                    <div class="flex-row grade">
                                                                    </div>     
                                                                 
                            </div>	
                            
                        <div class="flex-table row final-grade ">
                            <div class="flex-row bold first"> ZAKLJUČENO</div>
                            <div class="flex-row"></div>
                            <div class="flex-row"></div>
                        </div>
                    </div>
                                        
                        
                                    <div class="section-title">BILJEŠKE</div>
                    
                <div class="table-container  notes-table " aria-label="NotesTable">
                                        <div class="flex-table header first">
                                <div class="flex-row">
                                    <span>Bilješka</span>
                                </div>
                                <div class="flex-row">
                                     <span>Datum</span>
                                </div>
                                <div class="flex-row">
                                     <span>Ocjena</span>
                                </div>
                            </div>
                                            <div class="flex-table row  " data-action-id="413849482720">
                                <div class="flex-row"> <span>Savjestan je i samostalan u radu. Tijekom online nastave učenik je predao sve domaće radove (16/16).</span></div>
                                    
                                    <div class="flex-row"> <span>10.2.2021.</span></div>
                                                        <div class="flex-row"></div>
                            </div>	
                                            <div class="flex-table row  " data-action-id="404826125550">
                                <div class="flex-row"> <span>2. ispit znanja:
        17/24 = 71%</span></div>
                                    
                                    <div class="flex-row"> <span>16.12.2020.</span></div>
                                                        <div class="flex-row"> <span>3</span></div>
                            </div>	
                                            <div class="flex-table row  " data-action-id="396459589560">
                                <div class="flex-row"> <span>Trigonometrijske funkcije:
        3/5</span></div>
                                    
                                    <div class="flex-row"> <span>25.11.2020.</span></div>
                                                        <div class="flex-row"> <span>3</span></div>
                            </div>	
                                            <div class="flex-table row  " data-action-id="389799404130">
                                <div class="flex-row"> <span>1.ispit znanja
        Eksponencijalne i logaritamske funkcije:
        4/10 = 40%</span></div>
                                    
                                    <div class="flex-row"> <span>28.10.2020.</span></div>
                                                        <div class="flex-row"> <span>2</span></div>
                            </div>	
                                            <div class="flex-table row  " data-action-id="389796982150">
                                <div class="flex-row"> <span>1.ispit znanja
        Eksponencijalne i logaritamske funkcije:
        8/12 = 67%</span></div>
                                    
                                    <div class="flex-row"> <span>28.10.2020.</span></div>
                                                        <div class="flex-row"> <span>3</span></div>
                            </div>	
                                            <div class="flex-table row  " data-action-id="382858039750">
                                <div class="flex-row"> <span>Korijeni i potencije:
        3/5</span></div>
                                    
                                    <div class="flex-row"> <span>12.10.2020.</span></div>
                                                        <div class="flex-row"> <span>3</span></div>
                            </div>	
                                                
                </div>
                    
                